<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This i html output <%- html %></p>

    循环遍历

    <ul>
      <% for(var i=0; i<supplies.length; i++) {%>
      <li><%= supplies[i] %></li>
      <% } %>
    </ul>

    <!-- include footer-->
    <%- include footer %>
  </body>
</html>
